body { 
    background-color: rgb(255, 228, 232);
}

h1 {
    color: lightpink;
}

.title-border {
    border:5px solid lightpink;
    margin:0px 10px 0px 10px;
    padding:30px;
}

.carousel-inner img {
margin: auto;
}

.carousel-control-prev,
.carousel-control-next{
  margin-left:20%;
  margin-right:20%;
}
